@import url('http://fonts.googleapis.com/css?family=Tauri');
body,
div,
span,
a,
button {
  font-family: 'Tauri', sans-serif;
  color: #231F20;
}
body,
h1,
p {
  font-family: 'Tauri', sans-serif;
  font-weight: 700;
}
SField label {
  font-family: 'Tauri', sans-serif;
  font-weight: 700;
}
div.choice_selector a {
  border: none ;
  background-color: #ebeef5  !important;
  padding: 7px 17px 7px 26px  !important;
  font-weight: bold  !important;
  text-decoration: none  !important;
  text-transform: uppercase  !important;
  background: url(http://www.callitspring.com/etc/content/2013/02/25/images/arrow_cta_blue.png) no-repeat 10px 9px #f9d1d4 !important;
}
div.QuizChoice img {
  max-width: none;
  max-height: none;
  border: none;
}
div.QChoices {
  width: 895px;
}
div.QuizChoice {
  width: auto;
  height: auto;
  margin: 0 27px 10px 1px;
  float: left;
  text-align: center;
  border: 0px solid transparent;
}
div.your_choice {
  height: auto;
}
div.QQuestionDivider {
  border-top: 0px solid #CCCCCC;
  padding-top: 0px;
  clear: both;
}
div.QQuestionNumber {
  max-width: 60px;
  float: left;
  display: none;
}
div.QHeader {
  height: 0;
}
div.QChoiceCaption {
  width: 240px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin: 13px 0 7px 0;
  max-height: 75px;
  overflow: auto;
  text-transform: uppercase;
}
div.QChoiceSelected {
  background-color: none;
}
div.QChoice .your_choice,
.QuizChoice .your_choice {
  vertical-align: middle;
  font-weight: bold;
  font-size: 14px;
  height: 20px;
  margin-top: 10px;
  text-transform: uppercase;
}
div.QChoice .your_choice,
.QuizChoice .your_choice span {
  color: #F69E94;
  background-color: none;
  padding: 7px 17px 7px 16px !important;
}
.choice_count {
  padding-bottom: 10px;
}
